<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="encabezado">
                <img id="logo" src="~/OIP.jpg" alt="Logo" width="auto" height="auto" class="d-inline-block align-text-top">
                <h1 id="empresa">Taller de prestación de servicios en confección y planchado Camila Coté</h1>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container-nav">
            <h2 id="nav-title">Taller Camila Coté</h2>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" id="nav-button">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-md-end">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Gestionar colaboradores", "Index", "Clientes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Gestionar precios", "GPrecios", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Gestionar prendas", "Gprendas", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TallerCamilaCote - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>